@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
}

// page spinner
.spinner-page {
    width:30px;
    height:30px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#39E58C);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}

// for images
.images{
    width:100% !important;
    height:100% !important;
}

